#busqueda_id, #btn_buscar{
    height: 20px;
    margin: 2px;
}
#busqueda_id{
    width: 300px;
}
.cont-nav{
    padding: 10px;
    background-color: LightSeaGreen;
    display:flexbox ;
}
div  a{
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
body{
    margin: 0px;
}
table th,td{
    padding: 3px;
   border: black 1px solid; 
}
#div_scroll{
    overflow: scroll;
    height: 550px;
    width: 600px;
}
h2{
 text-align: center ;
}
#container_flex{
    display:flex;

}